.container {
  display: flex;
  gap: 8rem;
  align-items: center;
  position: relative;
  max-width: max-content;
  padding-right: var(--space-6);
}

@media (max-width: 1050px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 0 var(--space-4);
  }
}
