.container {
  display: flex;
  gap: var(--space-4);
  align-items: center;
  margin-right: var(--space-6);
}

@media (max-width: 1030px) {
  .container {
    margin: 0;
    margin-top: var(--space-6);
    width: 100%;
    padding: 0 var(--space-4);
  }
}
