.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  height: calc(100dvh - 5.2rem);
  margin-top: 5.22rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.pageEnter {
  animation: fadeIn 300ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
