.ctaButton {
  width: 100%;
  max-width: 380px;
  text-transform: uppercase;
  background-color: var(--accent);
  color: #fff;
  font-weight: bold;
  height: 5.2rem;
  border-radius: var(--radius);
  transition: 300ms ease;
}

.ctaButton:hover {
  opacity: 0.8;
}
